@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body {
    @apply w-full;
  }
}
html{
  margin: 0;
  padding: 0;
}
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

.background-image {
  background-image: linear-gradient(
    to bottom, 
    rgba(40, 60, 80, 0.5) 0%, 
    #282c34 40%, 
    rgba(80, 108, 185, 1) 100%), 
    url('../public/Musicplugbg.jpg');
  background-size: contain;
  /* background-position: top center; */
  /* background-repeat: no-repeat; */
  /* background-attachment: fixed;  */
}

/* .background-image {
  position: relative; 
  min-height: 100vh; 
}

.background-image::before {
  content: ""; 
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(to bottom, rgba(40, 60, 80, 0.5) 0%, #282c34 40%, rgba(80, 108, 185, 1) 90%), url('../public/Musicplugbg.jpg');
  background-size: 100% auto;
  transform: perspective(1000px) rotateY(10deg) ;
  transform-origin: right center;
  z-index: -1; 
  height: 95%;
} 
.background-image::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 10%;
  background:rgba(80, 108, 185, 1) ;
  z-index: 1;
} */

.background-gradient {
  background-image: repeating-linear-gradient(140deg, rgb(109, 97, 168), #282c34 25%, rgb(80, 108, 185));
}
body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}
.customLink {
  text-decoration: none;
  color: inherit;
  align-items: center;
}

.customLink:hover {
  cursor: pointer;
}

.searchform-container {
  display: flex;
  justify-content: center;
  padding-right: 5em
}

.song-page-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.song-page-container {
  display: flex;
  justify-content: center;
  padding-top: 2em;
  padding-bottom: 2em;
}

.recs-page-container {
  display: flex;
  justify-content: center;
}

.paper-card {
  background-color: #f5f5f5;
  padding: .5em;
  text-align: center;
  color: rgba(0, 0, 0, 0.54);
  /* font-weight: bold; */
}

.loadmore {
  display: flex;
  justify-content: center;
}


.pie-container {
  display: flex;
  margin-bottom: 1em;
}
.splash-pie-container {
  display: flex;
  /* margin-bottom: 1em; */
}

.credits-list {
  list-style: none;
}

.credits {
  font-size: small;
}

.even-credit {
  font-size: small;
  font-weight: bold;

}

.odd-credit {
  font-size: small;
  color: rgb(120, 107, 107);
}


ul div {
  font-size: calc(5px + 2vmin);
  font-weight: 800;
  color: rgb(210, 210, 210);
}

hr {
  margin: 10px;
}

.splash{
  display: flex;
}

.canvas{
  display: flex;
  margin-top: 2em;
  margin-bottom: 3em;
  border: 1px solid rgba(192,192,192,0.5);
	box-shadow: '0 0 10px 1px rgba(192,192,192,0.3)';
  width: 87%;
  background: linear-gradient(105deg, rgba(0, 0, 0, .9) 0%, rgba(38, 50, 56, 0.8) 90%);
  height: 15em;
  border-radius: .5em;
  
}

@media (max-width: 600px) {
  .card-buttons {
    display: flex;
    flex-direction: column;
    height: 120px;
    justify-content: flex-end;
  }
}

@media (max-width: 700px) {
  .searchform-container {
    padding-right: 0;
  }
}
@media (orientation: landscape) {
  .landscape\:w-screen {
    width: 100vw;
  }
}
/* @media (max-width: 768px) {
  .background-image::before {
    background: linear-gradient(to bottom, rgba(40, 60, 80, 0.5) 0%, #282c34 18%, rgba(80, 108, 185, 1) 90%), url('../public/Musicplugbg.jpg');

    background-size: 190% auto; 
  }
} */
@media (max-width: 2085px){
  .background-image {
    background-position: top center;
    background-image: linear-gradient(
      to bottom, 
      rgba(40, 60, 80, 0.5) 0%, 
      #282c34 38%, 
      rgba(80, 108, 185, 1) 90%), 
      url('../public/Musicplugbg.jpg');
  }
}
@media (max-width: 1700px){
  .background-image {
    background-size: 120% auto;
    background-position: top center;
    background-image: linear-gradient(
      to bottom, 
      rgba(40, 60, 80, 0.5) 0%, 
      #282c34 35%, 
      rgba(80, 108, 185, 1) 90%), 
      url('../public/Musicplugbg.jpg');
  }
}
@media (max-width: 1300px){
  .background-image {
    background-size: 150% auto;
    background-position: top center;
    background-image: linear-gradient(
      to bottom, 
      rgba(40, 60, 80, 0.5) 0%, 
      #282c34 35%, 
      rgba(80, 108, 185, 1) 90%), 
      url('../public/Musicplugbg.jpg');
  }
}
@media (max-width: 1000px){
  .background-image {
    background-size: 170% auto;
    background-position: top center;
    background-image: linear-gradient(
      to bottom, 
      rgba(40, 60, 80, 0.5) 0%, 
      #282c34 35%, 
      rgba(80, 108, 185, 1) 90%), 
      url('../public/Musicplugbg.jpg');
  }
}
@media (max-width: 850px){
  .background-image {
    background-size: 180% auto;
    background-position: top center;
    background-image: linear-gradient(
      to bottom, 
      rgba(40, 60, 80, 0.5) 0%, 
      #282c34 30%, 
      rgba(80, 108, 185, 1) 90%), 
      url('../public/Musicplugbg.jpg');
  }
}
@media (max-width: 700px){
  .background-image {
    background-size: 190% auto;
    background-position: top center;
    background-image: linear-gradient(
      to bottom, 
      rgba(40, 60, 80, 0.5) 0%, 
      #282c34 25%, 
      rgba(80, 108, 185, 1) 90%), 
      url('../public/Musicplugbg.jpg');
  }
}
@media (max-width: 600px){
  .background-image {
    background-size: 190% auto;
    background-position: top center;
    background-image: linear-gradient(
      to bottom, 
      rgba(40, 60, 80, 0.5) 0%, 
      #282c34 23%, 
      rgba(80, 108, 185, 1) 90%), 
      url('../public/Musicplugbg.jpg');
  }
}
@media (max-width: 500px){
  .background-image {
    background-size: 190% auto;
    background-position: top center;
    background-image: linear-gradient(
      to bottom, 
      rgba(40, 60, 80, 0.5) 0%, 
      #282c34 20%, 
      rgba(80, 108, 185, 1) 90%), 
      url('../public/Musicplugbg.jpg');
  }
}
@media (max-width: 400px){
  .background-image {
    background-size: 190% auto;
    background-position: top center;
    background-image: linear-gradient(
      to bottom, 
      rgba(40, 60, 80, 0.5) 0%, 
      #282c34 17%, 
      rgba(80, 108, 185, 1) 90%), 
      url('../public/Musicplugbg.jpg');
  }
}
/* @media (max-width: 768px) and (orientation: landscape) {
  .background-image {

  }
} */
