@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body {
    @apply w-full;
  }
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */



.background-image {
  background-image: linear-gradient(to bottom, rgba(40, 60, 80, 0.5) 0%, #282c34 20%, rgba(80, 108, 185, 1) 90%), url('../public/Musicplugbg.jpg');
  background-size: contain;
}

.background-gradient {
  background-image: repeating-linear-gradient(140deg, rgb(109, 97, 168), #282c34 25%, rgb(80, 108, 185));
}
.customLink {
  text-decoration: none;
  color: inherit;
  align-items: center;
}

.customLink:hover {
  cursor: pointer;
}

.searchform-container {
  display: flex;
  justify-content: center;
  padding-right: 5em
}

.song-page-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.song-page-container {
  display: flex;
  justify-content: center;
  padding-top: 2em;
  padding-bottom: 2em;
}

.recs-page-container {
  display: flex;
  justify-content: center;
}

.paper-card {
  background-color: #f5f5f5;
  padding: .5em;
  text-align: center;
  color: rgba(0, 0, 0, 0.54);
  /* font-weight: bold; */
}

.loadmore {
  display: flex;
  justify-content: center;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}
.pie-container {
  display: flex;
  margin-bottom: 1em;
}
.splash-pie-container {
  display: flex;
  /* margin-bottom: 1em; */
}

.credits-list {
  list-style: none;
}

.credits {
  font-size: small;
}

.even-credit {
  font-size: small;
  font-weight: bold;

}

.odd-credit {
  font-size: small;
  color: rgb(120, 107, 107);
}


ul div {
  font-size: calc(5px + 2vmin);
  font-weight: 800;
  color: rgb(210, 210, 210);
}

hr {
  margin: 10px;
}
.splash{
  display: flex;
}

@media (max-width: 600px) {
  .card-buttons {
    display: flex;
    flex-direction: column;
    height: 120px;
    justify-content: flex-end;
  }
}

@media (max-width: 700px) {
  .searchform-container {
    padding-right: 0;
  }
}
@media (orientation: landscape) {
  .landscape\:w-screen {
    width: 100vw;
  }
}